.root {
    width: 100%;
    box-shadow: inset 0px -1px 1px var(--border-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root > h2 {
    font-weight: 400;
}